*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}
div{
    margin: 12px;
}

h1 {
    text-align: center;
    color: brown;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

ul {
    text-align: left;
    margin: 10px;
    border: 1px solid black;
    list-style: none;
}

.opcion1 {
    background-color: aqua;
}

.opcion2 {
    background-color: aquamarine;
}

.opcion3 {
    background-color: beige;
}

.opcion1:hover{
    background-color:aliceblue;
}
.opcion2:hover{
    background-color: aliceblue;
}
.opcion3:hover{
    background-color: aliceblue;
}

.principal{
    text-align: center;
    padding: 1%;
    border: 1px solid black;
    border-radius: 50px;
}